@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:ital,wght@1,500&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  /* background-image: url('./whatsapp-background.png'); */
  background-color: white;
  /* background-image: url('./background.png'); */
  /* background-image: url('./1288089.jpg'); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: black;
}
